// Experience listing

.block-views-blockwork-experience-block-work-experience {
  .views-row {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #E6CAFC 0%, #BBC9F7 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    position: relative;
  }
  //odd borders
  .views-row:nth-child(odd) {
    border-right: 3px solid;

    &:before {
      left: 100%;
      margin-left: -20px;
    }
  }
  //even borders
  .views-row:nth-child(even) {
    border-left: 3px solid;

    &:before {
      right: 100%;
      margin-right: -20px;
    }
  }
  .duration {
    display: flex;
  }
  .spacer {
    margin: 0 0.3em;
  }
  h2 {
    margin: 0 0 0.4em 0;
  }
  .field--name-body {
    margin-top: 1em;
  }
}
