@import "variables";

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5em;
}

h1,
h2,
h3 {
}

a {
  color: $link;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $linkHover;
    text-decoration: underline;
  }
  &:focus {
    border-bottom: 5px dashed black;
    outline: none;
  }
}

header {
  a {
    font-weight: normal;
  }
}
