@import "variables";
// Project listing
.block-views-blockprojects-block-projects {
  .views-row {
    margin: 2em 0;
    h2 {
      margin-top: 0;
    }
  }
  .highlight-wrapper {
    background: $neutral;
    display: flex;
    padding: 2em;
    @media only screen and (max-width: 899px) {
      flex-flow: row wrap;
    }
  }
  .highlight-image {
    margin-right: 2em;
    @media only screen and (max-width: 899px) {
      margin-bottom: 2em;
      margin-right: 0;
      width: 100%;
    }
    img {
      @media only screen and (max-width: 899px) {
        height: auto;
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
      }
    }
  }
  .highlight-content {
    width: calc(100% - 2em + 350px);
    @media only screen and (max-width: 899px) {
      width: 100%;
    }
  }
}
.read-more a {
  background: $secondary;
  border-radius: 2em;
  color: white;
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: $accent;
    transition: background-color 0.3s ease;
  }
  &:focus {
    background-color: $accent;
    border-bottom: none;
    outline: 5px dashed black;
    outline-offset: 5px;
  }
}
