$primary: #9edcff;
$secondary: #54007b;
$dark: #21004a;
$accent: #46037e;
$neutral: #DFE7FC;

$link: #033573;
$linkHover: #54007b;
$headerGradient: linear-gradient(to right, #E6CAFC 0%, #BBC9F7 50%, #E6CAFC 100%);
$otherGradient: linear-gradient(to right, #46037e 0%, RoyalBlue 50%, #46037e 100%);
