@import "mixins";
@import "variables";

.field--name-field-school {
  > .field__item {
    background: $neutral;
    margin: 10px 0;
    padding: 20px;
  }
}

.field--name-field-courses {
  > .field__label {
    @include fontSize(22px);
    margin: 25px 0 15px 0;
  }
  .field__items {
    > .field__item {
      background: $neutral;
      margin: 10px 0;
      padding: 20px;
    }
  }
}

.field--name-field-school,
.field--name-field-courses {
  .field--name-field-title {
    @include fontSize(18px);
    font-weight: bold;
  }
}
