@import "variables";

.header-main-menu {
  .menu {
    display: flex;
    flex-flow: row wrap;
    @media only screen and (max-width: 1249px) {
      justify-content: center;
      margin-left: 0;
      margin-top: 0;
    }
  }
  .menu-item {
    margin: 5px;
    padding: 5px;
  }
  a {
    color: black;
    text-transform: uppercase;
    &:hover {
      color: $dark;
      text-decoration: underline;
    }
  }
  ul.menu a.is-active {
    color: $secondary;
    &:hover {
      color: $dark;
    }
  }
  .menu-item--collapsed {
    list-style: none;
    list-style-type: none;
  }
}
