@import "variables";
// Project listing
.block-views-blockprojects-block-projects {
  .views-row {
    margin: 2em 0;
    h2 {
      margin-top: 0;
    }
  }
  .highlight-wrapper {
    background: $neutral;
    display: flex;
    padding: 2em;
    @media only screen and (max-width: 899px) {
      flex-flow: row wrap;
    }
  }
  .highlight-image {
    margin-right: 2em;
    @media only screen and (max-width: 899px) {
      margin-bottom: 2em;
      margin-right: 0;
      width: 100%;
    }
    img {
      @media only screen and (max-width: 899px) {
        height: auto;
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
      }
    }
  }
  .highlight-content {
    width: calc(100% - 2em + 350px);
    @media only screen and (max-width: 899px) {
      width: 100%;
    }
  }
}
.read-more a {
  background: $secondary;
  border-radius: 2em;
  color: white;
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: $accent;
    transition: background-color 0.3s ease;
  }
}

// Project page
.field--name-field-roles-in-the-project,
.field--name-field-technologies,
.field--name-field-link-to-repository {
  margin-top: 1em;
}
.field--name-field-project-image {
  background-color: $neutral;
  margin-top: 2em;
  padding: 1em;
  .field__label {
    padding: 0.5em 1em;
  }
  > .field__items {
    display: flex;
    flex-flow: row wrap;
    > .field__item {
      cursor: pointer;
      margin: 1em 1em;
      overflow: hidden;
      position: relative;
    }
  }
  a {
    border: 3px solid transparent;
    display: block;
    &:hover {
      border: 3px solid $secondary;
    }
  }
  img {
    display: block;
  }
}

.field--name-field-link-to-project a {
  background: $accent;
  border-radius: 2em;
  color: white;
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  text-align: center;
  transition: background-color 0.3s ease;
  &:hover {
    color: white;
    background-color: $secondary;
    transition: background-color 0.3s ease;
  }
}
